/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    /* border-style: none; */
    border: 0px;
    width: 150px;
    height: 64px;
    color: #fff;
    font-size: 16px;

}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: opx 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 10px;
}

nav li>a {
    list-style: none;
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header {
    background-color: #FBEBE0;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;


}


/* Banner Style Section*/
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section Style*/

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FBEBE0;
    margin: 130px 0px;
     
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    text-align: center;
    color:  #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.about-info-container{


}

.about-info{


}

.info-title{

    
}